{% extends "base.html" %}

{% block content %}

<div class="card" style="max-width:700px; margin:0 auto;">

    <h2 style="color:#004b87;">마이페이지</h2>

    <form method="post" action="/mypage">

        <div style="margin-bottom:15px;">
            <b>보유 포인트</b><br>
            {{ user.points }}
        </div>

        <div style="margin-bottom:15px;">
            <b>이메일</b><br>
            {{ user.email }}
        </div>

        <div style="margin-bottom:15px;">
            <b>학번</b><br>
            {{ user.student_id }}
        </div>

        <div style="margin-bottom:15px;">
            <b>이름</b><br>
            <input type="text" name="name" value="{{ user.name }}" required>
        </div>

        <div style="margin-bottom:15px;">
            <b>비밀번호</b><br>
            <input type="password" name="password" value="{{ user.password }}" required>
        </div>

        <button type="submit" class="btn">
            정보 수정
        </button>

    </form>

</div>

{% endblock %}
